<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/style.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>

  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      align-items: center;
    "
  >
    <h1>Register</h1>

    <form method="POST" action="">
      {{ form.hidden_tag() }} {{ form.username }} {{ form.password }} {{
      form.submit }}
    </form>

    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
    <a href="{{ url_for('home') }}">Back to homepage</a>
  </body>
</html>
